.home {
    background: url(../../public/Assets/homebg.jpg);
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image within the container */
    background-attachment: fixed; /* Fix the background image in place */
    height: 100vh; /* Set the background to cover the entire viewport height */
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    overflow-x: hidden; 
    overflow-y: scroll; 
    height: 100vh; /* Match the viewport height */
  }

.movie_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 2rem;
}

.searchInput {
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
}